body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}

.container {
  position: relative;
  height: 600px;
  width: 100%;
  perspective: 2500px;
  background-color: black;
}

.world {
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: center;
  width: 800px;
  height: 200px;
  transform: rotateX(-7deg) rotateY(0deg) rotateZ(0deg);;
  margin-top: 350px;
  margin-left: 180px;
}

.floor {
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: center center 0px;
  box-sizing: border-box;
  margin-top: 50px;
}

.floor div {
  position: absolute;
  border: 1px solid black;
  box-sizing: border-box;
}

.floor .front{
  width: 1000px;
  height: 20px;
  background: linear-gradient(115deg,#4bb874 0%,#12a3a6 100%);
  transform: translateZ(400px);
}

.floor .back{
  width: 1000px;
  height: 20px;
  background: linear-gradient(115deg,#4bb874 0%,#12a3a6 100%);
  transform: translateZ(-400px);
}

.floor .left {
  width: 800px;
  height: 20px;
  background: linear-gradient(115deg,#4bb874 0%,#12a3a6 100%);
  transform: rotateY(90deg) translateZ(-400px);
}

.floor .right {
  width: 800px;
  height: 20px;
  background: linear-gradient(115deg,#4bb874 0%,#12a3a6 100%);
  transform: rotateY(90deg) translateZ(600px);
}

.floor .top {
  width: 1000px;
  height: 800px;
  background: linear-gradient(115deg,#4bb874 0%,#12a3a6 100%);
  transform: rotateX(90deg) translateZ(400px);
}

.floor .bottom {
  width: 1000px;
  height: 800px;
  background: linear-gradient(115deg,#4bb874 0%,#12a3a6 100%);
  transform: rotateX(90deg) translateZ(380px);
}

.element {
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: center center 0px;
  width: 100px;
  height: 100px;
  transform: translateZ(-385px);
}

.element div {
  position: absolute;
  border: 1px solid black;
  box-sizing: border-box;
}

.element .front{
  width: 100px;
  height: 100px;
  transform: translateZ(50px) translateY(-50px);
  background-size: cover;
}

.element .back{
  width: 100px;
  height: 100px;
  background: #776472;
  transform: translateZ(-50px) translateY(-50px);
}

.element .left {
  width: 100px;
  height: 100px;
  background: #776472;
  transform: rotateY(90deg) translateZ(-50px) translateY(-50px);
}

.element .right {
  width: 100px;
  height: 100px;
  /* background:#9E9E9E; */
  background: #776472;
  transform: rotateY(90deg) translateZ(50px) translateY(-50px);
}

.element .top {
  width: 100px;
  height: 100px;
  background: #776472;
  transform: rotateX(90deg) translateZ(98px);
}

.element .bottom {
  width: 100px;
  height: 100px;
  background: #776472;
  transform: rotateX(90deg) translateZ(0px);
  backface-visibility: hidden;
}

.element .front:hover {
  transform: translate3d(20px, -49px, 60px);
}
