h1 {
  margin-left: 40px;
}

.box {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 50px 80px;
  border: 1px solid black;
  display: inline-block;
  perspective: 600px;
  /*transform-style: perserve-3d;
  transition: transform 2s*/
}

.box div{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: perserve-3d;
  transition: transform 2s;
}

.rotate3d {
  background: hsla(240, 70%, 50%, 0.6);
  transform: rotate3d(1, 1, 1,360deg);
}

.translate3d {
  background: hsla(170, 70%, 50%, 0.6);
}

.scale3d {
  background: hsla(320, 70%, 50%, 0.6);
}

.rotate3d:hover {
  transform: rotateX(180deg) rotateY(180deg);
}

.translate3d:hover {
  transform: translate3d(40px, 40px, 70px);
}

.scale3d:hover {
  transform: scale3d(1.5,1.5,1.5);
}

.cube {
  position: relative;
  transform-style: preserve-3d;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.cube div {
  position: absolute;
  width: 96px;
  height: 96px;
  border: 2px solid black;
}

.cube .front {
  transform: translateZ(-50px);
  background-image: url('img/paper.png');
  background-size: cover;
}

.cube .back {
  transform: translateZ(50px);
}

.cube .left {
  transform: rotateY(90deg) translateZ(50px);
  background-color: aqua;
}

.cube .right {
  transform: rotateY(90deg) translateZ(-50px);
  background-color: aqua;
}

.cube .top {
  transform: rotateX(90deg) translateZ(50px);
  background-color: aqua;
}

.cube .bottom {
  transform: rotateX(90deg) translateZ(-50px);

}